/* universal */
.App {
  background-color: blanchedalmond;
}

.navLink {
  color: white
}

.navLink:hover {
  color: white;
  text-decoration: none;
  /* -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); */
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}



.pageHeader {
  display: flex;
}


/* Home Page */

.homePage {
  height: 1085px;   /* sets length of homepage to certain length*/
  overflow: hidden; /* keeps overflow of users from showing on home page*/
}

.homePage h1 {
  text-align: center;
  margin: 35px auto;
}

.homePageHeader {
  margin: 50px auto;
}

.homePageSiteExplanation {
  text-align: center;
}

.homePageSiteExplanation h2 {
  line-height: 1.5;
}


.homePageUserSearchArea {
  overflow:hidden; /* keeps overflow of people hidden */
}

.homePageUserArea {
  display:flex;
  justify-content: space-evenly;
}

.searchAllUserHomePageInputField {
  margin: 20px auto;
  text-align: center;
}

.homePageCreateUserArea {
  text-align: center;
}

.createNewUserToggleFormButton {
  margin: 20px auto;
}

.createNewUserToggleFormButton button {
  background-color: #343a40;
  border: #343a40;
  border-radius: 10px;
  color: white;
  padding: 5px 8px;
}

.createNewUserToggleFormButton :hover {
  background-color: #4c545c;
  border: #343a40;
  box-shadow: 0 0 15px black;
}

.newUserNameInputHomePage {
  margin: 20px auto;
}

.newUserPhotoInputHomePage {
  margin: 20px auto;

}


/* All Pretzels Page */
.allPretzelsPage {
  background-color: blanchedalmond;
}

.allPretzelsPage h1 {
  text-align: center;
  flex: 1.5;
}

.allPretzelsPageSiteExplanation {
  margin: 35px 200px;
  text-align: center;
}

.allPretzelsPagePretzelsByRank {
  margin: 50px 200px;
  text-align: center;
}



/* Single Pretzel Page */
.singlePretzelPage {
  background-color: blanchedalmond;
  text-align: center;
  height: 950px;
}

.singlePretzelPage h1 {
  margin: 35px auto;
}


.singlePretzelPagePretzelBody {
  display: flex;
  justify-content: space-evenly;
}

.singlePretzelPagePhoto {
  width: 200px;
  border-radius: 25px;
}

.singlePretzelPagePretzelNotes {
  margin: 35px auto;
}

#deletePretzelButton {
  margin: 50px auto;
}


/* All Users Page */

.allUsersPage h1 {
  text-align: center;
  margin: 35px auto;
}

.searchAllUserInputField {
  display: flex;
  justify-content: center;
}

.usersListFilteredSearch {
  text-align: center;

}

.usersListFilteredSearch a{
  margin: 10px;
}

 .usersListFilteredSearch img {
   width: 115px;
   height: 115px;
   border-radius: 25px;
   box-shadow: 4px 4px black;
   margin: 5px;
 }


 

 /* one user page */


 .oneUserPageHeader {
    text-align: center;
    margin: 30px auto;
 }

 .oneUserPageHeader img {
  width: 200px;
  border-radius: 25px;
  text-align: center;
 }

 .oneUserPageBody {
   display: flex;
   justify-content: space-evenly;
   padding: 0 0 100px 0;
 }

 .oneUserMyPretzelArea h2 {
    text-align: center;
 }

 .oneUserCreatePretzelArea {
   text-align: center;
 }

 .createPretzelInputField {
   margin: 20px auto;
 }

 .createPretzelForm {
  text-align: center;
  margin: 35px auto;
}

.oneUserPretzelList {
  text-align: center;
}

.oneUserPretzelListItem {
  margin: 30px auto;
}

.oneUserPretzelListItem img {
  height:100px;
  border-radius: 10px;
}


.createNewPretzelToggleFormButton {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}




