/* universal */
.App {
  background-color: blanchedalmond;

}

.pageHeader {
  display: flex;
}

.pageHeader nav {
  display: flex;
  flex-direction: column;
}



/* Home Page */

/* .homePage {
} */

.homePage h1 {
  text-align: center;
  margin: 35px auto;
}


.homePageSiteExplanation {
  margin: 35px 200px;
  text-align: center;
}

.homePagePretzelsByRank {
  margin: 50px 200px;
  text-align: center;
}


/* All Pretzels Page */
.allPretzelsPage {
  background-color: blanchedalmond;
}

.allPretzelsPage h1 {
  text-align: center;
  flex: 1.5;
}

.allPretzelsPageSiteExplanation {
  margin: 35px 200px;
  text-align: center;
}

.allPretzelsPagePretzelsByRank {
  margin: 50px 200px;
  text-align: center;
}



/* Single Pretzel Page */
.singlePretzelPage {
  background-color: blanchedalmond;

}

.singlePretzelPage h1 {
  margin: 35px auto;
}


.singlePretzelPage {
  text-align: center;
}

.singlePretzelPagePretzelBody {
  display: flex;
  justify-content: space-evenly;
}

.singlePretzelPagePhoto {
  width: 200px;
  border-radius: 25px;
}


/* All Users Page */

.allUsersPage h1 {
  text-align: center;
  margin: 35px auto;
}

.allUsersUserListNameAndPhoto {
  text-align: center;
}

.allUsersUserListNameAndPhoto img {
   width: 100px;
   border-radius: 25px;
   box-shadow: 4px 4px black;
   margin: 5px;
 }

 

 /* single user page */

 .oneUserPageHeader {
    text-align: center;
    margin: 30px;
 }

 .oneUserPageHeader img {
  width: 200px;
  border-radius: 25px;
  text-align: center;
 }

 .oneUserPretzelArea h2 {
    text-align: center;
 }

 .createPretzelForm {
  text-align: center;
  margin: 35px auto;
}

.oneUserPretzelList {
  text-align: center;
}

.createNewPretzelToggleFormButton {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

